In [2]:
# Life essentials
import pandas as pd
import numpy as np
import pickle

# Plot
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline
matplotlib.style.use('ggplot')

# General Machine Learning
from sklearn.model_selection import train_test_split, KFold, cross_val_score, cross_validate, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

# Binary Models
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier, VotingClassifier, GradientBoostingClassifier
from  sklearn.neural_network import MLPClassifier
# Real Value Model
from sklearn.linear_model import LinearRegression

In [18]:
# get the 2014 data
df = pd.read_csv('data/2014.csv', sep=',', header = None,
                names = ['ID', 'date', 'element', 'value', 'mFlag', 'qFlag', 'sFlag', 'obsTime'])

In [19]:
# generate smaller sample dataframes to make it lighter to work with

# the first 1 million entry
head_df = df.head(1000000)
# a sample df with 1% of the data
sample_df = df.sample(frac = 0.01, replace = False)

In [21]:
head_df.head()

            ID      date element  value mFlag qFlag sFlag  obsTime
0  ASN00015643  20140101    TMAX    424   NaN   NaN     a      NaN
1  ASN00015643  20140101    TMIN    227   NaN   NaN     a      NaN
2  ASN00015643  20140101    PRCP      0   NaN   NaN     a      NaN
3  US1MNCV0008  20140101    PRCP      0   NaN   NaN     N      NaN
4  US1MNCV0008  20140101    SNOW      0   NaN   NaN     N      NaN