In [2]:
# Life essentials
import pandas as pd
import numpy as np
import pickle

# Plot
import matplotlib.pyplot as plt
import matplotlib
%matplotlib inline
matplotlib.style.use('ggplot')

# General Machine Learning
from sklearn.model_selection import train_test_split, KFold, cross_val_score, cross_validate, GridSearchCV
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score
from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

# Binary Models
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier, VotingClassifier, GradientBoostingClassifier
from  sklearn.neural_network import MLPClassifier
# Real Value Model
from sklearn.linear_model import LinearRegression

In [15]:
# get the 2014 data
df = pd.read_csv('data/2014.csv', sep=',', header = None,
                names = ['ID', 'date', 'element', '''mFlag', 'qFlag', 'sFlag', 'obsTime'])

In [16]:
# generate smaller sample dataframes to make it lighter to work with

# the first 1 million entry
head_df = df.head(1000000)
# a sample df with 1% of the data
sample_df = df.sample(frac = 0.01, replace = False)

In [17]:
sample_df.head()

                   ID  date  element mFlag qFlag sFlag  obsTime
ASN00011053  20141122  PRCP        0   NaN   NaN     a      NaN
USC00154375  20141005  SNWD        0   NaN   NaN     7      NaN
USS0015j03S  20140402  SNWD       76   NaN   NaN     T      NaN
CA001017101  20141217  TMAX       80   NaN   NaN     C      NaN
USS0020K04S  20140510  PRCP        0   NaN   NaN     T      NaN